@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

description
{
	margin-left: 0 !important;
}

separator, #characterpalette-about-dialog
{
	margin: 0 !important;
	padding: 0 !important;
}

#characterpalette-about-details
{
	background-color: #ffffff !important;
	color: #000000 !important;
	padding: 0.5em !important;
}

#characterpalette-about-details hbox
{
	background-image: url("chrome://character-palette/content/logo.png") !important;
	background-position: top right !important;
	background-repeat: no-repeat !important;
	min-height: 35px !important;
	padding-right: 35px !important;
}

.name
{
	font-size: x-large !important;
	padding-right: 0.25em !important;
}

.name, .title
{
	font-weight: bold !important;
}

.title
{
	padding-top: 0.25em !important;
}
