@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#charpick-about-details hbox
{
	background-image: url("chrome://charpick/content/logo.png") !important;
	background-position: top right !important;
	background-repeat: no-repeat !important;
	min-height: 35px !important;
	padding-right: 35px !important;
}

.name
{
	font-size: x-large !important;
	padding-right: 0.25em !important;
}

.name, .title
{
	font-weight: bold !important;
}

.title
{
	padding-top: 0.25em !important;
}

.version
{
	font-style: italic;
}

.charpick-caption
{
	font-weight: bold !important;
}

.charpick-details
{
	margin: 0.5em !important;
}

caption
{
	margin: 5px !important;
}
