@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.charpick-caption
{
	font-weight: bold;
}

.charpick-details
{
	margin-left: 1em;
	margin-right: 1em;
}

#charpick-logo-large
{
	width: 48px;
	height: 48px;
}

#charpick-about-details description
{
	width: 300px;
	text-align: center;
}

.charpick-software-name
{
	font-size: 21px;
	font-weight: bold;
}

.charpick-desc, .charpick-licence
{
	font-size: 12px;
}

.charpick-copyright
{
	font-size: 10px;
}

#charpick-credits-panels
{
	height: 150px;
}

#charpick-credits-panels > tabpanel > vbox
{
	overflow: auto;
}
